<html lang="en">
    <body>
        <form>
            <label>
                邮箱: <input type="email" placeholder="邮箱"/>
            </label>
            <label>
                密码: <input type="password"/>
            </label>
            <button>登陆</button>
        </form>
    </body>
</html>